.gallery {
	margin: auto;
}

.sortMenu {
	padding: 5px;
	margin: auto;
	display: inline-block;
}

.entry {
    width: 200px;
    height: 318px;
    margin: 10px;
    display: inline-block;
    background-color: #bfbfbf;
    border-radius: 2px;
    position: relative;
}
.entry:hover {
    opacity: 0.5;
}
.entry-thumbnail{
	max-width: 100%;
	vertical-align: top;
    position: absolute;
    clip: rect(0px,200px,318px,0px);
}
.entry-title {
    width: 100%;
    text-align:center;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background-color: rgba(255,255,255,0.8);
	padding: 5px;
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #d95e40;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}